@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -40%) scale(0);
    z-index: 150;
  }
  80% {
    transform: translate(-50%, -40%) scale(1.05);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -40%) scale(1);
    z-index: 150;
  }
}
* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Arial", sans-serif;
}

pre {
  white-space: pre-wrap;
}

.add-note__container {
  max-width: 500px;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 600px) {
  .add-note__container {
    max-width: 300px;
  }
}

.add-note__input-container {
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.add-note__title-input {
  display: block;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  border: none;
  outline: none;
}

.add-note__content-textarea {
  display: block;
  height: 80px;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  border: none;
  outline: none;
  resize: none;
}

.add-note__btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f5ba12;
  color: white;
  border: none;
  transition: all 0.2s;
  position: absolute;
  /* bottom: 0; */
  bottom: -20px;
  right: 10px;
}
.add-note__btn:hover {
  background-color: #cc9a0f;
  transform: scale(1.1);
}
.add-note__btn:active {
  background-color: #f5ba12;
  transform: scale(1);
}

.add-note__overlay {
  position: absolute;
  width: 100%;
  height: 90vh;
}

.card {
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  position: relative;
  overflow-wrap: break-word;
}
.card__title {
  margin-bottom: 20px;
  font-size: 24px;
}
.card__empty {
  color: #aaa;
  font-size: 24px;
  font-weight: normal;
  word-wrap: break-word;
}
.card__content {
  display: block;
  font-family: inherit;
  font-size: 14px;
}
.card__edit-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaa;
  opacity: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.card:hover {
  transform: translateY(-10px);
  cursor: context-menu;
}
.card:hover .card__edit-btn {
  opacity: 1;
  cursor: pointer;
}

.edit-note__visible {
  opacity: 1;
  visibility: visible;
}
.edit-note__bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.edit-note__input {
  min-width: 500px;
  max-width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  overflow: hidden;
  z-index: 150;
  animation: fadeIn 0.4s ease-out;
}
@media (max-width: 600px) {
  .edit-note__input {
    min-width: 300px;
    max-width: 300px;
  }
}
.edit-note__title {
  width: auto;
  display: block;
  padding: 10px;
  font-family: inherit;
  font-size: 30px;
  border: none;
  outline: none;
}
.edit-note__content {
  width: auto;
  display: block;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  border: none;
  outline: none;
  resize: none;
}
.edit-note__top-area {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #eee;
}
.edit-note__bottom-area {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-note__delete-btn, .edit-note__save-btn {
  width: 48px;
  height: 48px;
  margin: 0 5px;
  border-radius: 50%;
  color: white;
  transition: all 0.2s;
  border: none;
  outline: none;
  z-index: 150;
}
.edit-note__delete-btn:hover, .edit-note__save-btn:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}
.edit-note__delete-btn {
  background-color: red;
}
.edit-note__save-btn {
  background-color: green;
}

.notes__container {
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/*# sourceMappingURL=style.css.map */
