* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Arial', sans-serif;
}

.add-note__container {
  max-width: 500px;
  margin: 20px auto;

  position: relative;
}

.add-note__input-container {
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
}

.add-note__title-input {
  display: block;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;

  border: none;
  outline: none;
}

.add-note__content-textarea {
  display: block;
  height: 80px;
  max-height: 50vh;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;

  border: none;
  outline: none;
  resize: none;
}

.add-note__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5ba12;
  color: white;
  border: none;
  transition: all .2s;

  position: absolute;
  /* bottom: 0; */
  bottom: -20px;
  right: 10px;
}

.add-note__btn:hover {
  background-color: rgb(204, 154, 15);
  transform: scale(1.1);
}

.add-note__btn:active {
  background-color: #f5ba12;
  transform: scale(1);
}


